@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253 41% 19%;
    --foreground: 157 100% 50%;
    --muted: 253 12% 23%;
    --muted-foreground: 253 12% 73%;
    --popover: 253 41% 16%;
    --popover-foreground: 157 100% 60%;
    --card: 253 41% 17%;
    --card-foreground: 157 100% 55%;
    --border: 253 31% 24%;
    --input: 253 31% 27%;
    --primary: 167 100% 50%;
    --primary-foreground: 167 100% 10%;
    --secondary: 167 30% 25%;
    --secondary-foreground: 167 30% 85%;
    --accent: 253 41% 34%;
    --accent-foreground: 254 41% 94%;
    --destructive: 5 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 167 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 253 41% 19%;
    --foreground: 157 100% 50%;
    --muted: 253 12% 23%;
    --muted-foreground: 253 12% 73%;
    --popover: 253 41% 16%;
    --popover-foreground: 157 100% 60%;
    --card: 253 41% 17%;
    --card-foreground: 157 100% 55%;
    --border: 253 31% 24%;
    --input: 253 31% 27%;
    --primary: 167 100% 50%;
    --primary-foreground: 167 100% 10%;
    --secondary: 167 30% 25%;
    --secondary-foreground: 167 30% 85%;
    --accent: 253 41% 34%;
    --accent-foreground: 254 41% 94%;
    --destructive: 5 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 167 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
